@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    background: url("https://m.media-amazon.com/images/M/MV5BNTFjNjJiODMtYjk5Zi00ODYzLThlZTQtODRjOTc3YzcwNGE0XkEyXkFqcGdeQXVyNTI1MDU0MzM@._V1_.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.navbar-custom {
    background-color: #623f17;
}

a.nav-item.nav-link {
    color: #430e06;

}



.sort {
    cursor: pointer;
    margin-right: 2em;
}

.card {

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
}




#movie-card {
    background-color: #343a40!important;
}

#title-card{
    color: #d9d9d9;
}
#text-card {
    color: #b9b9b9!important;
}
#login-btn {
    position: absolute;
    left: 90%;
}

#logout-btn {
   position: relative;
    left: 600%;
}

