
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.card {
    background-color: #343a40 !important;
    color: #b9b9b9 !important;
}
.col{
    background-color: #343a40 !important;
    color: #b9b9b9 !important;
}

input[type=email], input[type=tel], input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background-color: #343a40 !important;
    color: #b9b9b9 !important;
    border: 2px solid #e3e3e3   !important;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #343a40 !important;
    color: #b9b9b9 !important;
    border: 2px solid #e3e3e3   !important;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


a {
    color: dodgerblue;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.btn{
    background-color: #343a40 !important;
    border: 2px solid #e3e3e3   !important;
    color: #b9b9b9 !important;
}