<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Show</title>
</head>
<body>


<div layout:fragment="content">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img alt="..." class="img-fluid rounded-start" th:src="${movie.getImageUrl()}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${movie.getTitle()}"></h5>
                    <p class="card-text">
                    <table>

                        <!--                    <span th:each="show,iter : ${shows}">-->
                        <span>
                    <div class="card-group">
              <span>

                            <div class="card"
                                 th:if="${shows.get('TWO_D').size>0}">
                                <div class="card-body">
                                    <h5 class="card-title">TWO DIMENSION
                                        <img src="https://cdn4.iconfinder.com/data/icons/cinema-ticket-app/24/2D-512.png"
                                             width="42" height="42"></img></h5>
                                    <span th:each="show,iter : ${shows.get('TWO_D')}">

                                         <span th:text="${show.getSimpleDate()}"></span>
                                           <span><a th:href="@{'/clients/show/seat/' + ${show.getId()}}"
                                                    th:text="${show.getStartTime()}"></a></span>
                                                                                    <br>

                                             </span>
                                </div>
                            </div>

                            </span>
                        <span>

                            <div class="card"
                                 th:if="${shows.get('THREE_D').size>0}">

                                <div class="card-body">
                                    <h5 class="card-title">THREE DIMENSION
                                        <img src="https://icon-library.com/images/icon-3d/icon-3d-11.jpg" width="48"
                                             height="48"/>
                                    </h5>
                                    <span th:each="show,iter : ${shows.get('THREE_D')}">
                                         <span th:text="${show.getSimpleDate()}"></span>
                                             <span><a th:href="@{'/clients/show/seat/' + ${show.getId()}}"
                                                      th:text="${show.getStartTime()}"></a></span>
                                                                                    <br>

                                             </span>
                                </div>
                            </div>
                                                                    </span>

                        <span>

                            <div class="card"
                                 th:if="${shows.get('IMAX').size>0}">
                                <div class="card-body">
                                    <h5 class="card-title">IMAX
                                        <img src="https://pic.onlinewebfonts.com/svg/img_119078.png" width="34"
                                             height="34"></img>
                                    </h5>
                                    <span th:each="show,iter : ${shows.get('IMAX')}">
                                          <span th:text="${show.getSimpleDate()}"></span>
                                                                               <span><a
                                                                                       th:href="@{'/clients/show/seat/' + ${show.getId()}}"
                                                                                       th:text="${show.getStartTime()}"></a>
                                       </span>
                                        <br>
                                    </span>
                                </div>
                            </div>
                                    </span>
                </div>
</span>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>