<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>Courses</title>
</head>
<body>
<div layout:fragment="data_table_content">
    <tr th:each="course,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${course.getId()}"></td>
        <td th:text="${course.getName()}"></td>
        <td th:text="${course.getDescription()}"></td>
        <td th:text="${course.getCourseType()}"></td>
        <td>
            <a type="button" th:href="@{'/courses/delete/' + ${course.getId()}}"
               class="btn btn-outline-light text-danger">delete</a>
        </td>
        <td>
            <a type="button" th:href="@{'/courses/update/' + ${course.getId()}}"
               class="btn btn-outline-light text-primary">update</a>
        </td>
    </tr>
</div>
</body><!--
<section layout:fragment="content">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="card mb-2 mt-2">
                    <div class="card-header">
                        All Courses
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th><a th:href="@{'/courses/all?field=id&sort=ASC'}" th:text="'⇑'"></a> Course id <a
                                        th:href="@{'/courses/all?field=id&sort=DESC'}" th:text="'⇓'"></a></th>
                                <th><a th:href="@{'/courses/all?field=name&sort=ASC'}" th:text="'⇑'"></a> Name <a
                                        th:href="@{'/courses/all?field=name&sort=DESC'}" th:text="'⇓'"></a></th>
                                <th>description</th>
                                <th>courses types</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr th:each="course,iter : ${courses}">
                                <td th:text="${iter.count}"></td>
                                <td><a th:href="@{'/students/course/' + ${course.getId()}}"
                                       th:text="${course.getId()}"></a></td>
                                <td th:text="${course.getName()}"></td>
                                <td th:text="${course.getDescription()}"></td>
                                <td><a th:href="@{'/students/course?type=' + ${course.getCourseType()}}"
                                       th:text="${course.getCourseType()}"></a></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
</html>

