<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title> User Detail</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/registration.css" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
    <form method="post" th:action="@{/registration}" th:object="${authForm}">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2 mt-2">
                        <div class="card-header">
                            User Detail
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-hover">
                                <div class="row">
                                    <div class="col">
                                        <label for="email"><b>Email</b></label>
                                    </div>
                                    <div class="col">
                                        <input id="email" name="email" placeholder="Enter Email" required
                                               th:field="*{email}" type="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="psw"><b>Password</b></label>
                                    </div>
                                    <div class="col">
                                        <input id="psw" name="psw" placeholder="Enter Password" required
                                               th:field="*{password}" type="password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="psw-repeat"><b>Repeat Password</b></label>
                                    </div>
                                    <div class="col">
                                        <input id="psw-repeat" name="psw-repeat" placeholder="Repeat Password"
                                               required
                                               th:field="*{passwordConfirm}"
                                               type="password"></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="psw-repeat"><b>First name</b></label>
                                    </div>
                                    <div class="col">
                                        <input id="psw-repeat" name="psw-repeat" placeholder="First Name" required
                                               th:field="*{firstName}" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="psw-repeat"><b>Last name</b></label>
                                    </div>
                                    <div class="col">
                                        <input id="psw-repeat" name="psw-repeat" placeholder="Last Name" required
                                               th:field="*{lastName}" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="psw-repeat"><b>Phone number</b></label>
                                    </div>
                                    <div class="col">
                                        <input id="psw-repeat" name="psw-repeat" placeholder="Phone number" required
                                               th:field="*{phone}" type="tel">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <button class="btn" type="submit">Registration</button>
                                    </div>
                                    <div class="col">
                                    </div>
                                </div>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
</body>
</html>
