<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/data_table}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Movies</title>
</head>
<body>

<div layout:fragment="data_table_content">
    <tr th:each="movie,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td><a th:href="@{'/admin/movies/detail/' + ${movie.getId()}}"
               th:text="${movie.getId()}"></a></td>
        <td th:text="${movie.getTitle()}"></td>
        <td th:text="${movie.getDuration()}"></td>
        <td th:text="${movie.getDirector()}"></td>
        <td th:text="${movie.getGenre()}"></td>
        <td th:text="${movie.getReleaseYear()}"></td>
        <td>
            <a class="btn btn-outline-light text-danger" th:href="@{'/admin/movies/delete/' + ${movie.getId()}}"
               type="button">delete</a>
        </td>
        <td>
            <a class="btn btn-outline-light text-primary" th:href="@{'/admin/movies/update/' + ${movie.getId()}}"
               type="button">update</a>
        </td>
    </tr>
    </div>
</div>
</body>
</html>






