<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Movies</title>
</head>
<body>


<!--<div class="container">-->
<div layout:fragment="content">

    <!--    <div layout:fragment="data_table_content">-->
    <!--        <tr th:each="movie,iter : ${pageData}">-->
    <!--            <td th:text="${iter.count}"></td>-->
    <!--            <td><a th:href="@{'/students/detail/' + ${student.getId()}}"-->
    <!--                   th:text="${student.getId()}"></a></td>-->
    <!--            <td th:text="${student.getFirstName()}"></td>-->
    <!--            <td th:text="${student.getLastName()}"></td>-->
    <!--            <td th:text="${student.getEmail()}"></td>-->
    <!--            <td th:text="${student.getPhone()}"></td>-->
    <!--            <td th:text="${student.getBirthDate()}"></td>-->
    <!--            <td>-->
    <!--                <a type="button" th:href="@{'/students/delete/' + ${student.getId()}}"-->
    <!--                   class="btn btn-outline-light text-danger">delete</a>-->
    <!--            </td>-->
    <!--            <td>-->
    <!--                <a type="button" th:href="@{'/students/update/' + ${student.getId()}}"-->
    <!--                   class="btn btn-outline-light text-primary">update</a>-->
    <!--            </td>-->
    <!--        </tr>-->


    <th:block th:each="movie : ${pageDataResponse}">

        <div class="card mb-3" id="movie-card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img alt="..." class="card-img" th:src="${movie.getImageUrl()}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="title-card" th:text="${movie.getTitle()}"></h5>
                        <p class="card-text" id="text-card" th:text="${movie.getDescription()}"></p>
                        <!--
                           <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->




                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <tr th:each="type : ${types.get(movie.getId())}">
                                        <img th:src="${type.getImgUrl()}" width="42" height="42"  th:if="${type.name =='TWO_D'}"></img>
                                        <img th:src="${type.getImgUrl()}" width="48" height="48"  th:if="${type.name =='THREE_D'}" ></img>
                                        <img th:src="${type.getImgUrl()}" width="34" height="34"  th:if="${type.name =='IMAX'}" ></img>
                                    </tr>
                                </div>
                                <div class="col-sm">
                                    <a class="btn btn-primary" th:href="@{'/movies/detail/' + ${movie.getId()}}">Details</a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </th:block>
</div>
</body>
</html>