<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Detail Hall</title>

    <!--<style type="text/css">
        .like-dislike-section {
            cursor: pointer;
        }
    </style>-->

</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details Halls
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${hall.getId()}"></td>
                        </tr>
                        <tr>
                            <th>name</th>
                            <td th:text="${hall.getName()}"></td>
                        </tr>
                        <tr>
                            <th>number of seats</th>
                            <td th:text="${hall.getNumOfSeats()}"></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

