<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <title>Payment</title>

</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-2 mt-2">
                    <div class="card-header">
                        Order Details
                    </div>
                    <div class="card-body">
                        <form action="#" method="post"
                              th:action="@{'/clients/booking/' + ${bookingResponseDto.getId()}}"
                              th:object="${bookingResponseDto}">

                            <table class="table table-sm table-hover">
                                <div class="row">
                                    <div class="col">
                                        <p>Date : </p>
                                    </div>
                                    <div class="col">
                                        <div class="col">
                                            [[${bookingResponseDto.getShow().getDate()}]]
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <p>Time : </p>
                                    </div>
                                    <div class="col">
                                        <div class="col">

                                            [[${bookingResponseDto.getShow().getStartTime()}]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Movies : </p>
                                    </div>
                                    <div class="col">
                                        <div class="col">
                                            [[${bookingResponseDto.getShow().getMovie().getTitle()}]]
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Seats : </p>
                                    </div>
                                    <div class="col">
                                        <div class="col">
                                            <div th:each="showSeat,iter : ${showSeats}">
                                                <span th:text="${showSeat.getCinemaHallSeat().getSeatNumber()}"></span>
                                                <span th:if="${iter.index} < ${showSeats.size()-1}">,</span>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Total sum : </p>
                                    </div>
                                    <div class="col">
                                        <div class="col">
                                            <span th:text="${bookingResponseDto.getTotalPrice()}">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label th:if="${bookingResponseDto.getBookingStatus().name() == 'PENDING'}"
                                               th:for="confirm">Instant Pay</label>
                                        <input th:if="${bookingResponseDto.getBookingStatus().name() == 'PENDING'}"
                                               name="confirm" type="checkbox" value="agree"/>
                                         </div>
                                    <div class="col">

                                        <input type="submit" value="Submit"/>
                                    </div>
                                </div>

                            </table>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>


</html>