<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/data_table}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Booking History</title>
</head>
<body>
<div layout:fragment="data_table_content">
    <tr th:each="booking,iter : ${bookingList}">
        <td th:text="${iter.count}"></td>
        <td><a th:href="@{'/clients/booking/detail/' + ${booking.getId()}}"
               th:text="${booking.getTimestamp()}"></a></td>
        <td th:text="${booking.getBookingStatus().name()}"></td>
        <td th:text="${booking.getTotalPrice()}"></td>
    </tr>
</div>
</body>
</html>

