<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Password update</title>
</head>
<body>
<!--<section layout:fragment="content">-->
<div class="container">
    <div layout:fragment="content">
        <!--<div class="row mb-2 mt-2" th:if="${showMessage}">
            <div class="col-12">
                <div th:if="${message}" class="alert alert-primary alert-dismissible fade show" role="alert">
                    <span th:text="${message}">message text</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                &lt;!&ndash;<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="${errorMessage}">message text</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>&ndash;&gt;
                <div th:if="${warnMessage}" class="alert alert-dark alert-dismissible fade show" role="alert">
                    <span th:text="${warnMessage}">message text</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>-->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2 mt-2">
                        <div class="card-header">
                            Password update
                        </div>
                        <div class="card-body">
                            <form action="#" method="post" th:action="@{/clients/user/update/password}"
                                  th:object="${newUserRequestDto}">
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                                </div>
                                <table class="table table-sm table-hover">
                                    <div class="row">
                                        <div class="col">
                                            Old Password
                                        </div>
                                        <div class="col">
                                            <input placeholder="Old password" required
                                                   th:field="*{oldPassword}" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            New Password
                                        </div>
                                        <div class="col">
                                            <input placeholder="New Password" required
                                                   th:field="*{password}" type="text">
                                            <!--                                            <li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error" />-->
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Confirm Password
                                        </div>
                                        <div class="col">
                                            <input placeholder="Confirm password" required
                                                   th:field="*{passwordConfirm}" type="text">
                                            <!--                                            <li th:each="err : ${#fields.errors('passwordConfirm')}" th:text="${err}" class="error" />-->

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <input type="submit" value="Submit"/>
                                        </div>
                                    </div>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--</section>-->
    </div>
</div>
</body>
</html>