<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-2 mt-2">
                    <div class="card-header">
                        All Students
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>#</th>

                                <!--                              <th>  <a th:href="@{'/students/all?field=id&ASC'}" class="btn btn-link" role="button">id</a>-->
                                <!--                              </th>-->
                                <!--                                <th><a th:href="@{'/courses/student/' + 'id'}"-->
                                <!--                                       th:text="id"></a></th>-->
                                <!---->
                                <th><a th:href="@{'/students/all?field=id&sort=ASC'}" th:text="'⇑'"></a> id <a
                                        th:href="@{'/students/all?field=id&sort=DESC'}" th:text="'⇓'"></a></th>
                                <th><a th:href="@{'/students/all?field=first_name&sort=ASC'}" th:text="'⇑'"></a> first
                                    name <a
                                            th:href="@{'/students/all?field=first_name&sort=DESC'}" th:text="'⇓'"></a>
                                </th>
                                <th><a th:href="@{'/students/all?field=last_name&sort=ASC'}" th:text="'⇑'"></a> last
                                    name <a
                                            th:href="@{'/students/all?field=last_name&sort=DESC'}" th:text="'⇓'"></a>
                                </th>
                                <th><a th:href="@{'/students/all?field=email&sort=ASC'}" th:text="'⇑'"></a> email <a
                                        th:href="@{'/students/all?field=email&sort=DESC'}" th:text="'⇓'"></a></th>
                                <th><a th:href="@{'/students/all?field=phone&sort=ASC'}" th:text="'⇑'"></a> phone <a
                                        th:href="@{'/students/all?field=phone&sort=DESC'}" th:text="'⇓'"></a></th>
                                <th>birthday</th>
                                <th>course type</th>
                                <th>delete</th>
                                <th>update</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="student,iter : ${students}">
                                <td th:text="${iter.count}"></td>
                                <td><a th:href="@{'/courses/student/' + ${student.getId()}}"
                                       th:text="${student.getId()}"></a></td>
                                <td th:text="${student.getFirstName()}"></td>
                                <td th:text="${student.getLastName()}"></td>
                                <td th:text="${student.getEmail()}"></td>
                                <td th:text="${student.getPhone()}"></td>
                                <td th:text="${student.getBirthDate()}"></td>

                                <td> <span th:each="course,iter : ${student.getUniqTypes()}">
                                     <a th:href="@{'/students/course?type=' + ${course.toString()}}"
                                        th:text="${course.toString()}"></a>
                        </span>
                                </td>
                                <td>
                                <a type="button" th:href="@{'/students/delete/' + ${student.getId()}}" class="btn btn-outline-light text-danger">delete</a>
                                </td><td>
                                <a type="button" th:href="@{'/students/update/' + ${student.getId()}}" class="btn btn-outline-light text-primary">update</a>
                            </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div th:if="${totalPages > 0}" class="pagination">
                       <span th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/students/all(size=${pageSize}, page=${pageNumber})}"
                           th:text="${pageNumber}+' '"
                           th:class="${pageNumber==currentPage + 1} ? active"></a>
                       </span>

                        <span class="right">
                            <a
                               th:text="'.  size:'"></a>
                             <a th:href="@{'/students/all?size=5'}"
                                th:text="5"></a>
                            <a th:href="@{'/students/all?size=10'}"
                                                    th:text="10"></a>
                            <a th:href="@{'/students/all?size=25'}"
                               th:text="25"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</html>

