<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Students</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    All Students
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <!--                            Названия колонок-->
                            <th>#</th>
                            <th>id</th>
                            <th>first name</th>
                            <th>last name</th>
                            <th>email</th>
                            <th>phone</th>
                            <th>birthday</th>
                            <th>courses types</th>
                            <!--                            <th>details</th>-->
<!--                            <th>delete</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <!--                        Содержимое колонок-->
                        <tr th:each="student,iter : ${students}">
                            <td th:text="${iter.count}"></td>
<!--                            <td><a th:href="@{'/halls/details/' + ${hall.getId()}}" th:text="${hall.getId()}"></a></td>-->
                            <td th:text="${student.getId()}"></td>
                            <td th:text="${student.getFirstName()}"></td>
                            <td th:text="${student.getLastName()}"></td>
                            <td th:text="${student.getEmail()}"></td>
                            <td th:text="${student.getPhone()}"></td>
                            <td th:text="${student.getBirthDate()}"></td>

                            <span th:each="course,iter : ${student.getCourseResponseDtoSet()}">
                            <td th:text="${course.getCourseType()}"></td>
                        </span>
<!--                            <td th:text="${hall.getNumOfSeats()}"></td>-->
                            <!--                            <td th:text="${#calendars.format(department.getCreated(),'dd MMMM yyyy')}"></td>-->
                            <!--                            <td>-->
                            <!--                                <a th:href="@{'/halls/details/' + ${hall.getId()}}" type="button"-->
                            <!--                                   class="btn btn-primary">details</a>-->
                            <!--                            </td>-->
<!--                            <td>-->
<!--                                <a th:href="@{'/halls/delete/' + ${hall.getId()}}" type="button"-->
<!--                                   class="btn btn-danger">delete</a>-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>

