<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Movies</title>
</head>
<body>


<!--<div class="container">-->
<div layout:fragment="content">

<!--    <div layout:fragment="data_table_content">-->
<!--        <tr th:each="movie,iter : ${pageData}">-->
<!--            <td th:text="${iter.count}"></td>-->
<!--            <td><a th:href="@{'/students/detail/' + ${student.getId()}}"-->
<!--                   th:text="${student.getId()}"></a></td>-->
<!--            <td th:text="${student.getFirstName()}"></td>-->
<!--            <td th:text="${student.getLastName()}"></td>-->
<!--            <td th:text="${student.getEmail()}"></td>-->
<!--            <td th:text="${student.getPhone()}"></td>-->
<!--            <td th:text="${student.getBirthDate()}"></td>-->
<!--            <td>-->
<!--                <a type="button" th:href="@{'/students/delete/' + ${student.getId()}}"-->
<!--                   class="btn btn-outline-light text-danger">delete</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a type="button" th:href="@{'/students/update/' + ${student.getId()}}"-->
<!--                   class="btn btn-outline-light text-primary">update</a>-->
<!--            </td>-->
<!--        </tr>-->


      <th:block th:each="movie : ${pageData.getItems()}">

        <div class="card mb-3"  id="movie-card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img th:src="${movie.getImageUrl()}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" id="title-card" th:text="${movie.getTitle()}"></h5>
                    <p class="card-text" id="text-card" th:text="${movie.getDescription()}"></p>
<!--
   <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                                <a class="btn btn-primary" th:href="@{'/movies/detail/' + ${movie.getId()}}">Details</a>


                </div>
            </div>
        </div>
    </div>

      </th:block>

<!--    <div class="card" >-->
<!--        <img alt="Card image cap" class="card-img-left"-->
<!--             src="https://cs4.pikabu.ru/post_img/2016/05/29/1/1464476620124332284.jpg">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
<!--                content.</p>-->
<!--            <a class="btn btn-primary" href="#">Go somewhere</a>-->
<!--        </div>-->
<!--    </div>-->

</div>
</body>
</html>