<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Movies</title>
</head>
<body>


<!--<div class="container">-->
<div layout:fragment="content">

    <div class="card" style="width: max-content">
        <img alt="Card image cap" class="card-img-top"
             src="https://cs4.pikabu.ru/post_img/2016/05/29/1/1464476620124332284.jpg">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: max-content">
        <img alt="Card image cap" class="card-img-top"
             src="https://cs4.pikabu.ru/post_img/2016/05/29/1/1464476620124332284.jpg">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: max-content">
        <img alt="Card image cap" class="card-img-top"
             src="https://cs4.pikabu.ru/post_img/2016/05/29/1/1464476620124332284.jpg">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a class="btn btn-primary" href="#">Go somewhere</a>
        </div>
    </div>

</div>
</body>
</html>