<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Movies</title>
</head>
<body>


<!--<div class="container">-->
<div layout:fragment="content">

    <div class="card" style="width: max-content">
        <img class="card-img-top" src="https://cs4.pikabu.ru/post_img/2016/05/29/1/1464476620124332284.jpg"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: max-content">
        <img class="card-img-top" src="https://cs4.pikabu.ru/post_img/2016/05/29/1/1464476620124332284.jpg"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: max-content">
        <img class="card-img-top" src="https://cs4.pikabu.ru/post_img/2016/05/29/1/1464476620124332284.jpg"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>
</body>
</html>