<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/data_table}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Shows</title>
</head>
<body>
<div layout:fragment="data_table_content">
    <tr th:each="show,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td><a th:href="@{'/admin/shows/detail/' + ${show.getId()}}"
               th:text="${show.getId()}"></a></td>
        <td th:text="${show.getDate()}"></td>
        <td th:text="${show.getStartTime()}"></td>
        <td th:text="${show.getEndTime()}"></td>
        <td th:text="${show.getMovie().getTitle()}"></td>
        <td th:text="${show.getCinemaHall().getName()}"></td>
        <td>
            <a class="btn btn-outline-light text-danger" th:href="@{'/admin/shows/delete/' + ${show.getId()}}"
               type="button">delete</a>
        </td>
        <td>
            <a class="btn btn-outline-light text-primary" th:href="@{'/admin/shows/update/' + ${show.getId()}}"
               type="button">update</a>
        </td>
    </tr>
</div>
</body>
</html>






