<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <title>New Hall</title>

</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-2 mt-2">
                    <div class="card-header">
                        New Show
                    </div>
                    <div class="card-body">
                        <form action="#" method="post" th:action="@{/admin/shows/new}" th:object="${showRequestDto}">

                            <table class="table table-sm table-hover">
<input type="hidden" th:value="${showRequestDto.getId()}" th:field="*{id}"/>
                                <div class="row">
                                    <div class="col">
                                        <p>Movies : </p>
                                    </div>
                                    <div class="col">
                                        <div class="col">
                                            <div th:each="cinemaHall, iter : ${cinemaHalls}">
                                                <div class="form-check">
                                                    <input class="form-check-input" id="cinemaHall"
                                                           name="cinemaHall"
                                                           th:checked="${iter.index} == 0"
                                                           th:value="${cinemaHall.getId()}"
                                                           type="radio">
                                                    <label class="form-check-label" for="cinemaHall">
                                                        [[${cinemaHall.getName()}]] </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <p>Movies : </p>
                                    </div>
                                    <div class="col">
                                        <div class="col">
                                            <div th:each="movie, iter : ${movies}">
                                                <div class="form-check">
                                                    <input class="form-check-input" id="movie"
                                                           name="movie"
                                                           th:checked="${iter.index} == 0"
                                                           th:value="${movie.getId()}"
                                                           type="radio">
                                                    <label class="form-check-label" for="movie">
                                                        [[${movie.getTitle()}]] </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <p>Date : </p>
                                    </div>
                                    <div class="col">
                                        <input aria-label="+380" name="date" th:field="*{date}" type="date"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <p>Start Time : </p>
                                    </div>
                                    <div class="col">
                                        <input id="startTime" th:field="*{startTime}" type="time">

                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>End Time : </p>
                                    </div>
                                    <div class="col">
                                        <input th:field="*{endTime}" type="time" value="22:00">

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <input type="submit" value="Submit"/>
                                    </div>
                                    <div class="col">
                                        <span>
                                        </span>
                                    </div>
                                </div>
                                </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>


</html>