<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery Seat Charts Plugin Demo</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.seat-charts.css">
    <link rel="stylesheet" type="text/css" href="/css/show-seat.order.css">
</head>

<body>

<div class="wrapper">
    <div class="container" id="seats">
       <!-- show
        movie
        seatMap
        soldSeats-->

        <span th:text="${movie.getTitle()}"></span>
        <span th:text="${show.getDate()}"></span>
        <span th:text="${show.getStartTime()}"></span>
<!--        <h1>jQuery Seat Charts Plugin Demo</h1>-->
        <div id="seat-map">
            <div class="front-indicator">Front</div>
        </div>
        <div class="booking-details" id="details">
            <h2>Booking Details</h2>
            <h3> Selected Seats (<span id="counter">0</span>):</h3>
            <ul id="selected-seats">
            </ul>
            Total: <b>$<span id="total">0</span></b>

            <form th:action="@{'/client/show/seat/' + ${show.getId()}}"  method="post">
                <input type="hidden" id="sum" name="sum"/>
                <input type="hidden" id="chosenSeats" name="chosenSeats"/>

                <button type="submit"  onclick="myFunction()" name="submit" value="value" class="checkout-button"><!--class="link-button"--> This is a link that sends a POST request</button>
            </form>

<!--            <button  class="checkout-button">Checkout &raquo;</button>-->

            <div id="legend"></div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/js/jquery.seat-charts.js"></script>
<script  th:inline="javascript">
    /*<![CDATA[*/
    var firstSeatLabel = 1;
    $(document).ready(function() {
        var $cart = $('#selected-seats'),
            $counter = $('#counter'),
            $total = $('#total'),

            sc = $('#seat-map').seatCharts({
            map:[[${seatMap}]],

                // map: [
                //     'ff_ffe',
                //     'ff_ffe',
                //     'ee_eee',
                //     'ee_eee',
                //     'ee___e',
                //     'ee_eee',
                //     'ee_eee',
                //     'ee_eee',
                //     'eeeeef',
                // ],
                seats: {
                    f: {
                        price   : 100,
                        classes : 'first-class', //your custom CSS class
                        category: 'First Class'
                    },
                    e: {
                        price   : 40,
                        classes : 'economy-class', //your custom CSS class
                        category: 'Economy Class'
                    }

                },
                naming : {
                    top : false,
                    getLabel : function (character, row, column) {
                        return firstSeatLabel++;
                    },
                },
                legend : {
                    node : $('#legend'),
                    items : [
                        [ 'f', 'available',   'First Class' ],
                        [ 'e', 'available',   'Economy Class'],
                        [ 'f', 'unavailable', 'Already Booked']
                    ]
                },
                click: function () {
                    if (this.status() == 'available') {
                        //let's create a new <li> which we'll add to the cart items
                        $('<li>'+this.data().category+' Seat # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
                            .attr('id', 'cart-item-'+this.settings.id)
                            .data('seatId', this.settings.id)
                            .appendTo($cart);

                        /*
                         * Lets update the counter and total
                         *
                         * .find function will not find the current seat, because it will change its stauts only after return
                         * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
                         */
                        $counter.text(sc.find('selected').length+1);
                        $total.text(recalculateTotal(sc)+this.data().price);

                        return 'selected';
                    } else if (this.status() == 'selected') {
                        //update the counter
                        $counter.text(sc.find('selected').length-1);
                        //and total
                        $total.text(recalculateTotal(sc)-this.data().price);

                        //remove the item from our cart
                        $('#cart-item-'+this.settings.id).remove();

                        //seat has been vacated
                        return 'available';
                    } else if (this.status() == 'unavailable') {
                        //seat has been already booked
                        return 'unavailable';
                    } else {
                        return this.style();
                    }
                }
            });
        //this will handle "[cancel]" link clicks
        $('#selected-seats').on('click', '.cancel-cart-item', function () {
            //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
            sc.get($(this).parents('li:first').data('seatId')).click();
        });

        //let's pretend some seats have already been booked
        // sc.get(['1_2', '4_1', '7_1', '7_2']).status('unavailable');
        sc.get([[${soldSeats}]]).status('unavailable');

    });

    function recalculateTotal(sc) {
        var total = 0;

        //basically find every selected seat and sum its price
        sc.find('selected').each(function () {
            total += this.data().price;
        });

        return total;
    }
    /*]]>*/
</script>

<script type="text/javascript">
    function myFunction() {
        //write sum to TH
        document.getElementById("sum").setAttribute('value',document.getElementById('total').innerText);

        //choosen seats
        let seeeets = [];
        let elements = document.getElementsByTagName("li");
        for(let i = 0; i < elements.length; i++) {
            if(elements[i].className!=='seatCharts-legendItem'){
                           let num = elements[i].innerText;
                                let currentS=(num.substring((num.indexOf('#')+2), num.indexOf(':')));
                seeeets.push(currentS);
            }
        }
        document.getElementById("chosenSeats").setAttribute('value', seeeets);

    }

</script>
</body>
</html>