<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>movies</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="movies,iter : ${pageDataResponse.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${movies.getName()}"></td>
        <td th:text="${movies.getDescription()}"></td>
<!--        <td th:text="${movies.getBookCount()}"></td>-->
        <td>
            <a th:href="@{'/movies/details/' + ${movies.getId()}}" type="button" class="btn btn-primary">details</a>
        </td>
        <td>
            <a th:href="@{'/movies/delete/' + ${movies.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>

</div>

</body>
</html>