<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Detail Movie</title>

    <!--<style type="text/css">
        .like-dislike-section {
            cursor: pointer;
        }
    </style>-->

</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details Movie
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${movie.getId()}"></td>
                        </tr>
                        <tr>
                            <th>name</th>
                            <td th:text="${movie.getName()}"></td>
                        </tr>
                        <tr>
                            <th>description</th>
                            <td th:text="${movie.getDescription()}"></td>
                        </tr>
                        <tr>
                            <th>hall id</th>
                            <td><a th:href="@{'/halls/details/' + ${movie.getHall().getId()}}" th:text="${movie.getHall().getId()}"></a></td>

<!--                            <td th:text="${movie.getHall().getId()}"></td>-->
                        </tr> <tr>
                            <th>hall name</th>
                            <td th:text="${movie.getHall().getName()}"></td>
                        </tr>
                    </table>
<!--                    <hr>-->
<!--                    <a th:href="@{'/movies/new/' + ${hall.getId()}}" type="button" class="btn btn-primary">Add new movie</a>-->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

